path=""
CONTAINER_NAME="pf"
DOMAIN=""
SERVER_NAME=""
APP_PASSWORD=""
MYSQL_PASSWORD=""
COMPOSE_PROJECT_NAME=""
#API KEYS
CCP_SSO_CLIENT_ID=""
CCP_SSO_SECRET_KEY=""
CCP_ESI_SCOPES="esi-location.read_online.v1,esi-location.read_location.v1,esi-location.read_ship_type.v1,esi-ui.write_waypoint.v1,esi-ui.open_window.v1,esi-universe.read_structures.v1,esi-corporations.read_corporation_membership.v1,esi-clones.read_clones.v1,esi-characters.read_corporation_roles.v1"
